@page "/notes"
@using AppNote.Data
@using AppNote.Services
@inherits OwningComponentBase<NoteService>

<h3>Notes</h3>
<div style="background-color: lightgray; padding: 5px; margin-bottom: 15px;">
    <button style="border: none; background-color: white;" type="button" @onclick="ShowPopUpAddNote">New note</button>
    <input style="border: none; position: fixed; left: 50%; margin-left: -250px" type="text" placeholder="Enter search term" size="80"/>
    <label style="float: right; padding-top: 1px; padding-right: 10px;">Total notes: @sc.Count</label>
</div>

@if (_popUpAddNote) 
{ 
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add new Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="ClosePopUpAddNote"></button>
                </div>
                <EditForm Model="note" OnValidSubmit="SaveNote">
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>Note Title</td>
                                <td><input type="text" placeholder="Note title..." @bind="note.Title" /></td>
                            </tr>
                            <tr>
                                <td>Note Text</td>
                                <td><input type="text" placeholder="Note text..." @bind="note.Text"/></td>
                            </tr>
                            <tr>
                                <td>Note Date</td>
                                <td><input type="datetime" placeholder="DD/MM/YYYY" @bind="note.Date"/></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save note</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

<div>
    @foreach (var item in sc)
    {
    <div style="background-color: lightgray; margin: 10px 40px">
        <label style="padding-top: 7px; padding-left: 50px;">@item.Title</label>
        <label style="padding-top: 7px; padding-left: 50px;">@item.Date</label>
        <button style="border: none; background-color: white;" type="button" @onclick="ShowPopUpAddNote">View note</button>
        <button style="border: none; background-color: white;" type="button" @onclick="ShowPopUpAddNote">Edit note</button>
    </div>
    }
</div>

@code {
    private bool _popUpAddNote = false;

    private System.Collections.Generic.IList<NoteClass> sc;

    private NoteClass note = new();

    protected override void OnInitialized()
    {
        sc = Service.DisplayNotes();
    }

    void ShowPopUpAddNote()
    {
        _popUpAddNote = true;
    }

    void ClosePopUpAddNote()
    {
        _popUpAddNote = false;
    }

    void SaveNote()
    {
        Service.AddNewNote(note);
        _popUpAddNote = false;
    }
}
